<%= render "shared/header" %>

<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h5>アカウントの編集</h5>
    </div>

    <div class='account-page__inner--right user-form'>
      <%= form_with model: current_user, local: true do |f|%>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :Nick_name%>
          </div>
          <div class='field-input'>
            <%= f.text_field :nick_name, autofocus: true%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :weight%>
          </div>
          <div class='field-input'>
            <%= f.text_field :weight, autocomplete: "off"%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :height%>
          </div>
          <div class='field-input'>
            <%= f.text_field :height, autocomplete: "off"%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :age%>
          </div>
          <div class='field-input'>
            <%= f.text_field :age, autocomplete: "off"%>
          </div>
        </div>

        <div class="weight-bold-text">
          運動習慣
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:habit_id, Habit.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>

        <div class='actions'>
          <%= f.submit "Update", class: 'btn'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
