
<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">

    <div class="item-img-content">
      <%#= image_tag @item.image ,class:"item-box-img" %>
    </div>

    <div class="item-explain-box">
      <span><%#= @item.explanation %></span>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ニックネーム</th>
          <td class="detail-value">
            <%= current_user.nick_name %>
          </td>
        </tr>

        <tr>
          <th class="detail-item">登録時体重</th>
          <td class="detail-value">
            <%= current_user.weight %>
          </td>
        </tr>

        <tr>
          <th class="detail-item">身長</th>
          <td class="detail-value">
            <%= current_user.height %>
          </td>
        </tr>

        <tr>
          <th class="detail-item">年齢</th>
          <td class="detail-value">
            <%= current_user.age %>
          </td>
        </tr>

        <tr>
          <th class="detail-item">運動習慣</th>
          <td class="detail-value">
            <%= current_user.habit.name %>
          </td>
        </tr>

      </tbody>
    </table>
    <%#= link_to "プロフィール変更", edit_user_path, method: :get, class: "item-red-btn" %>
  </div>

    <%# 参考https://www.dcom-web.co.jp/lab/javascript/draw_multi_axis_graph_using_chartjs %>

<%#['8月1日', '8月2日', '8月3日', '8月4日', '8月5日', '8月6日', '8月7日']ChartData%>


<canvas id="myChart"></canvas>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <script>
    var ChartData;
    var ctx = document.getElementById('myChart').getContext('2d');
    ChartData = new Chart(ctx, {
 
      type: 'bar',
      data:{
        //X軸の情報
        labels: ['2021/11/21', '2021/11/22', '2021/11/23', '2021/11/24', '2021/11/25', '2021/11/26', '2021/11/27'],
        //Y軸の情報
        datasets: [{
          type: 'line',  //折れ線グラフ
          label: "体重",
          data: [68.8, 68.3, 68.4, 69.2, 68.9, 67.9, 68.6],
          backgroundColor: "rgba(255, 99, 132,0.2)",
          borderColor: "rgb(255, 99, 132)",
          borderWidth: 1.2,
          //ポイントの背景色
          pointBackgroundColor: "rgba(255, 99, 132, 0.2)",
          //ポイントの形(circle[○],rect[□],triangle[△]等がある)
          pointStyle: 'circle',
          //ポイントの半径
          radius: 4,
          //ホバー時のポイント背景色
          pointHoverBackgroundColor: "rgba(255, 99, 132, 0.2)",
          //ホバー時のポイントの半径
          pointHoverRadius: 6,
          //ホバー時のポイント背景色
          pointHoverBorderColor: "rgb(255, 99, 132)",
          //ホバー時の先の太さ
          pointHoverBorderWidth: 2,
          //ベジェ曲線の張力（0＝直線） 
          lineTension: 0,
          //線下を塗りつぶすかどうか
          fill: false,
        }]
      },
      options: {
        legend: {display: true},
        tooltips: {enabled: true},
        scales: {
          //X軸のオプション
          xAxes: [{
            scaleLabel: {fontColor: "black",display: true,labelString: '日付'},
            gridLines: {color: "rgba(126, 126, 126, 0.4)",zeroLineColor: "black"},
            ticks: {fontColor: "black"}
          }]
        }
      }
    });
  </script>
</div>