<%= render "shared/header" %>

<div>
  <%= render "head" %>
</div>

<div class = "center">
  <div class = "total-calorie">
    <div class = "in-calorie">
      摂取カロリー
    </div>

    <div class = "out-calorie">
      消費カロリー
    </div>
  </div>

  <div class = "total-calorie">
    <%= render "shared/in-calorie" %>
    <%= render "shared/out-calorie" %>
  </div>

  <div class = "calorie-show">
    <%= render "shared/today-eat" %>
    <%= render "shared/today-exercise" %>
  </div>
</div>

<div class = "menu">
  <div class="in-menu">
    <%= link_to(new_health_path) do %>体重入力<% end %>
  </div>

  <div class="in-menu">
    <%= link_to(new_exercise_path) do %>運動入力<% end %>
  </div>

  <div class="in-menu">
    <%= link_to(new_meal_path) do %>食事入力<% end %>
  </div>

</div>