<%= render "shared/header" %>

<%= form_with model:@exercise, local: true do |f| %>

  <div class="input-content">
    <div >
      <span>運動時間</span>
      <span>必須</span>
    </div>
    <%= f.text_field :time, placeholder:"例）30" %>
    <span>分</span>
  </div>

  <div class="input-content">
    <div>
      <span>運動メニュー</span>
      <span>必須</span>
    </div>
    <%= f.collection_select(:menu_id, Menu.all, :id, :name, {}) %>
  </div>

  <div class="submit-content">
    <%= f.submit "記録する" %>
  </div>

<% end %>
